# Basis Data Neon PostgreSQL
DATABASE_URL="postgresql://user:password@endpoint-pooler.region.aws.neon.tech/database?sslmode=require"

# Rahasia Sesi Autentikasi Admin (Minimal 32 Karakter)
SESSION_SECRET="ganti_dengan_kunci_rahasia_acak_minimal_32_karakter_di_production"

# Akun Admin Awal untuk Seeding Development
INITIAL_ADMIN_USERNAME="hafizh"
INITIAL_ADMIN_EMAIL="hafizh@example.com"
INITIAL_ADMIN_PASSWORD="password_dev_change_me"

# Mode Lingkungan
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# GitHub CDN Upload Configuration
GITHUB_TOKEN="ghp_your_github_token_here"
GITHUB_OWNER="dresar"
GITHUB_REPO="PORTOFOLIO"
GITHUB_BRANCH="main"
