@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #020617;
    color: #f8fafc;
    overflow-x: hidden;
    selection-background-color: #3b82f6;
    selection-color: #ffffff;
  }
}

/* Custom Sleek Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #090d16;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Scroll Offset for Fixed Navbar */
section[id] {
  scroll-margin-top: 80px;
}
